:root{  
    --text-color: #212121;
    --text-main-color:#757575;
    --footer-hero-color: #2F303A;

}
body{
    font-family:'Roboto';
    background-color: #FFF;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}
.site-nav a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--text-color);
}
.site-nav a:hover,
.site-nav a:focus{
    color: #2196F3;
}
.list{
    list-style: none;
}

.link-contact a{
    color: var(--text-main-color);
}
.link-contact a:hover
.link-contact a:focus{
    color: #2196F3;
}
.underline {
    text-decoration: none;
}
.logo {
    color: black;
    font-family:'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px
}
.logo-footer {
            color: #FFF;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px
        }
.accent{
        color: #2196F3;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px
    }
.page-header {
    background-color: #FFFFFF;
}
.footer{
    background-color: var(--footer-hero-color);
}
.hero{
    background-color: var(--footer-hero-color);
}
.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align:center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background-color: #2196F3;
    color: #FFF ;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.features {
        font-size: 14px;
        line-height: 24px;
}
.hidden {
    visibility: hidden;
}
.features-title {
    font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--text-color);
}
.work-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
}