:root{  
    --text-color: #212121;
    --text-main-color:#757575;
    --footer-hero-color: #2F303A;
    --backgroud-color: #FFF;
    --link-color: #2196F3;
    --backgroud-color-team: #F5F4FA;
    --work-features-background:#F5F5F5;
}
body{
    font-family:'Roboto';
    background-color:var(--backgroud-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}
.site-nav a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--text-color);
}
.site-nav a:hover,
.site-nav a:focus{
    color: var(--link-color);
}
.list{
    list-style: none;
}

.link-contact a{
    color: var(--text-main-color);
}
.link-contact a:hover
.link-contact a:focus{
    color: var(--link-color);
}
.underline {
    text-decoration: none;
}
.logo {
    color: black;
    font-family:'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
}
.logo-footer {
            color: var(--backgroud-color);
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2px
        }
.accent{
        color: var(--link-color);
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2px
    }
.page-header {
    background-color:var(--backgroud-color);
}
.footer{
    background-color: var(--footer-hero-color);
}
.hero{
    background-color: var(--footer-hero-color);
}
.hero-title {
    color: var(--backgroud-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align:center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background-color: var(--link-color);
    color: var(--backgroud-color) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.features {
        font-size: 14px;
        line-height: 1.7px;
        background-color: var(--work-features-background);
}
.hidden {
    visibility: hidden;
}
.features-title {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--text-color);
}
.work{
    background-color: var(--work-features-background);
}
.work-title,
.team-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
}
.team {
background-color: var(--backgroud-color-team);
 }
 .team-card{
    background-color: var(--backgroud-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
 }
 .team-title-foto{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--text-color)

 }
 .team-title-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
 }
 .address{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
 }
 .logo-footer{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
 }
 .link-footer a{
    color: rgba(255, 255, 255, 0.6);;
 }
 .link-footer a:hover,
 .link-footer a:focus{
    color: var(--backgroud-color);
 }
 .pointers button{
    background-color: var(--backgroud-color-team);
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    border: none;
    cursor: pointer;
 }
 .pointers button:hover,
 .pointers button:focus{
    background-color: var(--link-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--backgroud-color);
 }